body {
    background-color: #202124;
}

#sign {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 75px;
    height: 30px;
    background: #93b1f8;
    border-radius: 5px;
}

#sign_in {
    position: absolute;
    top: 20%;
    left: 17%;
    color: black;
    text-decoration: none;
}

#header_div {
    position: relative;
    height: 50px;
}

#header_div > nav > ul {
    position: absolute;
    right: 150px;
    bottom: 0;
    font-size: 17px;
    list-style: none;
}

#header_div > nav > ul > li {
    padding: 0 10px 0 10px;
    display: inline-block;
}

#header_div > nav > ul > li > a {
    text-decoration: none;
    color: #f3f1f1;
    padding-bottom: 4px;
    margin-left: 13px;
}

#img_div {
    position: absolute;
    right: 100px;
    top: 5px;
}

#img_div > a > img {
    width: 40px;
}

#name_div {
    position: relative;
    height: 345px;
}

#name_div > div {
    width: 380px;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

#name_h1 {
    font-size: 115px;
    font-family: 'Outfit', sans-serif;
    color: white;
    margin: 0;
}

#search_div {
    position: relative;
    height: 160px;
}

#search {
    position: absolute;
    height: 50px;
    width: 50%;
    left: 0;
    right: 0;
    top: 10px;
    margin: auto;
    border-radius: 50px;
    border: 1px solid white;
}
#search>img {
    width: 25px;
    top: 13px;
    position: relative;
    left: 12px;
}
#search>img:nth-child(2) {
    left: 573px;
}
#button_div > div {
    background-color: #535353;
    width: 200px;
    height: 40px;
    border-radius: 10px;
}

#button_div > div > h4 {
    color: white;
    position: relative;
    margin: 0;
    top: 11px;
    left: 40px;
    font-family: 'Outfit', sans-serif;
}

#button_div > div:nth-child(1) {
    width: 180px;
}

#button_div > div:nth-child(2) {
    left: 182px;
    position: absolute;
    top: 0;
}
#button_div{
    left: 450px;
    position: absolute;
    margin: auto;
    top: 80px;
}
#lng>h4{
    color: white;
    font-family: 'Outfit', sans-serif;
    position: absolute;
    bottom: 0;
    left: 518px;
    right: 0;
    margin: auto;
}
#lng>h4>a{
    left: 5px;
    text-decoration: none;
    position: relative;
}