body {
    background-color: #323232;
}

#sign {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 75px;
    height: 30px;
    background: #93b1f8;
    border-radius: 5px;
}

#sign_in {
    position: absolute;
    top: 20%;
    left: 17%;
    color: black;
    text-decoration: none;
}

#header_div {
    position: relative;
    height: 50px;
}

#header_div > nav > ul {
    position: absolute;
    right: 150px;
    bottom: 0;
    font-size: 17px;
    list-style: none;
}

#header_div > nav > ul > li {
    padding: 0 10px 0 10px;
    display: inline-block;
}

#header_div > nav > ul > li > a {
    text-decoration: none;
    color: #f3f1f1;
    padding-bottom: 4px;
    margin-left: 13px;
}

#img_div {
    position: absolute;
    right: 100px;
    top: 5px;
}

#img_div >a> img {
    width: 40px;
}